.Banner {
  /* border: 3px solid yellowgreen; */
  width: 99.1vw;
  height: 30vh;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: contain;
background-repeat: no-repeat;
}
.Upload-banner {
  /* right: 10px; */
}
